/*
*= require_tree
*= require_self
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('assets/stylesheets/glyphicons-halflings-regular.eot');
  src: url('/assets/stylesheets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/stylesheets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/stylesheets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.appCustomBtn {
	border-radius: 2pt;
    padding: 5pt;
    background: #05473d;
	font-family: Lato;
	font-size: 12pt;
	font-weight: normal;
}

.appCustomBtn:hover {
	background: #097767;
	color: black;
}

.appPlaintext {
	font-size: 18pt;
    font-family: Lato;
}

.appCustomHeader {
	font-size: 28pt;
    font-family: Lato;
	border-bottom: 2pt dotted #05473d;
}

.greenish-bar {
	width: 100%;
	position: relative;
	z-index: 5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	background-color: #05473d;
	color: white;
    background-image:
        linear-gradient(30deg, #097767 25%, transparent 25%),
        linear-gradient(-30deg, #097767 25%, transparent 25%),
        linear-gradient(150deg, #097767 25%, transparent 25%),
        linear-gradient(-150deg, #097767 25%, transparent 25%);
	background-position: 10px 0, 10px 0, 0 0, 0 0;
	background-size: 20px 20px;
	display: inline-block;
	min-height: 20px;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
}

.header {
	position: fixed;
    left: 0;
    top: 0;
}

.row {
	margin-right: 15pt;
	margin-left: 15pt;
	margin-top: 5pt;
	padding: 3pt;
}

.customContainer {
	padding-right: 5px;
	padding-left: 5px;
}

.glyphicon {
	position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#home a {
	font-weight: normal;
	color: black;
    text-decoration: none;
}

.home:before { 
		content: "\e021" !important;
		font-size: 18pt;
		color: #ffffff;
	}

.home {
	content: "\e021" !important;
	cursor: pointer;
}

#home, #cart a {
	font-weight: normal;
	color: black;
    text-decoration: none;
}

.cart:before { 
		content: "\e116" !important;
		font-size: 18pt;
		color: #ffffff;
	}

.cart {
	content: "\e116" !important;
	cursor: pointer;
}