@import "bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('assets/stylesheets/glyphicons-halflings-regular.eot');
  src: url('/assets/stylesheets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/stylesheets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/stylesheets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.custom-btn {
  border: var(--bs-btn-border-width) solid #097767;
  background-color: #05473d;
}

.custom-btn-disabled {
  background: rgba(5, 71, 61, 0.25);
}

.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
  background-color: #097767;
}

.custom-btn:focus-visible {
  background-color: #097767;
}

.plaintext {
	font-size: 14pt;
    font-family: Lato;
}

.header {
  font-size: 25pt;
  font-family: Lato;
  border-bottom: 2pt dotted #05473d;
}

.greenish-zigzag-bar {
  width: 100%;
  background-color: #05473d;
  color: white;
  background-image:
    linear-gradient(30deg, #097767 25%, transparent 25%),
    linear-gradient(-30deg, #097767 25%, transparent 25%),
    linear-gradient(150deg, #097767 25%, transparent 25%),
    linear-gradient(-150deg, #097767 25%, transparent 25%);
    background-position: 10pt 0, 10pt 0, 0 0, 0 0;
  background-size: 20pt 20pt;
  display: inline-flex;
}

.container-padding {
  padding: 0 15pt;
}

.main-content-margin {
  margin: 45pt 0;
}

.glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5pt 15pt;
}

.footer {
  text-align: center;
  padding-top: 10pt;
  position: fixed;
  bottom: 0;
}

.cart:before {
        content: "\e116" !important;
        font-size: 18pt;
        color: #ffffff;
    }

.cart {
    content: "\e116" !important;
    cursor: pointer;
}

.form-product {
  padding: 15pt 70pt;
}

.form-group-margin {
  margin-top: 10pt;
}

.form-group-lg-margin {
  margin-top: 30pt;
}

.right-alignment {
  text-align: right;
}

.table-header {
  font-size: 18pt;
  color: #05473d !important;
}

.custom-link:link {
	color: #05473d;
    text-decoration: none;
}

.custom-link:visited {
	color: black;
}

.custom-link:hover {
	color: #05473d;
}

.super-alignment {
  vertical-align: super;
}

.top-alignment {
  vertical-align: top;
}